body {
  display: grid;
  grid-template-areas: "filler1 title    filler2" "filler1 search   filler2" "filler1 checkbox filler2" "filler1 row1     filler2" "filler1 row2     filler2";
  grid-template-columns: 1fr 1fr 1fr; }

h1 {
  grid-area: title;
  text-align: center; }

img {
  height: 200px;
  width: 200px; }

section {
  padding: 20px; }

#filler1 {
  grid-area: filler1;
  visibility: hidden; }

#filler2 {
  grid-area: filler2;
  visibility: hidden; }

#search {
  grid-area: search; }

#checkbox {
  grid-area: checkbox;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 1.5em; }

#checkbox input {
  width: 40px;
  height: 40px; }

#checkbox div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

#row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

#row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

/*# sourceMappingURL=app.css.map */
